<h2>Tell Us About Yourself</h2>
<form action="/process-contact" method="post">
    <div>
        <label>Your Name:
            <input name="name">
        </label>
    </div>
    <br />
    <div>
        <label>
            Your Email:
            <input  name="email" type="email">
        </label>
    </div>
    <br />
    <div>
        <button type="submit">Submit</button>
    </div>
</form>