<!DOCTYPE html>
<html>
    <head>
        <title>No Layout</title>
    </head>
    <body>
        <h1>No Layout</h1>
        <p>We're not using a layout file, so all the HTML is in the view</p>
    </body>
</html>